// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p b {
	color: darkslategray;
}

h1, h2, h3, h4 {
	font-variant: small-caps;
	color: darkslategray !important;
}
